html {
    overflow: auto;
}

body {
    color: #222;
    font: 400 1em/1 'Droid Sans', Helvetica, Arial, sans-serif;
}

[role="banner"],
[role="main"],
[role="contentinfo"] {
    margin: 0 auto;
    width: 40em;
}

[role="main"] {
    height: 30em;
    overflow-y: scroll;
}

h1 {
    font: 400 4em/1 Coustard, Georgia, serif;
}

a, a:active, a:visited {
    color: #000;
    padding: .125em;
    text-decoration: none;
}

a:hover {
    background-color: #a5d16f;
}

table {
    margin-bottom: 2em;
}

thead {
    display: none;
}

td {
    padding: .25em 0;
}

.fork-me, .fork-me:hover {
    background: none;
    border: 0;
    padding: 0;
    position: fixed;
    right: 0; top: 0;
}

/** Scroll bars */

::-webkit-scrollbar {
    width: 14px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #a5d16f;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #bbb;
}